* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.majorCon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productContainer {
    width: 20%;
    padding: 10px;
    background-color: rgb(89, 82, 82);
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    color: aliceblue;
    margin-left: 45px;
}
.productImg {
width: 100%;
height: 200px;
border-radius: 5px;
}

.cartBtn {
    width: 100%;
    background-color: rgb(243, 219, 219);
    color: #2e2c2c;
    height: 30px;
    border-radius: 5px;
}

.viewCrt {
    width: 10%;
    height: 35px;
    margin-top: 20px;
    margin-left: 88.6%;
    background-color: rgb(243, 219, 219);
    color: #2e2c2c;
}

.crtTitle {
    width: 100%;
    background-color: rgb(243, 219, 219);
    color: #2e2c2c;
    text-align: center;
    padding: 10px;
}